@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
    name: "swapbox";
    default: true;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(26% 0.007 34.298);
    --color-base-200: oklch(44% 0.011 73.639);
    --color-base-300: oklch(14% 0.004 49.25);
    --color-base-content: oklch(83.768% 0.001 17.911);
    --color-primary: oklch(64% 0.2 131.684);
    --color-primary-content: oklch(0% 0 0);
    --color-secondary: oklch(70% 0.01 56.259);
    --color-secondary-content: oklch(13.955% 0.027 168.327);
    --color-accent: oklch(84% 0.238 128.85);
    --color-accent-content: oklch(14.125% 0.023 185.713);
    --color-neutral: oklch(53% 0.157 131.589);
    --color-neutral-content: oklch(86.139% 0.007 171.364);
    --color-info: oklch(75% 0.183 55.934);
    --color-info-content: oklch(0% 0 0);
    --color-success: oklch(74% 0.16 232.661);
    --color-success-content: oklch(0% 0 0);
    --color-warning: oklch(90% 0.182 98.111);
    --color-warning-content: oklch(0% 0 0);
    --color-error: oklch(63% 0.237 25.331);
    --color-error-content: oklch(0% 0 0);
    --radius-selector: 1rem;
    --radius-field: 2rem;
    --radius-box: 1rem;
    --size-selector: 0.28125rem;
    --size-field: 0.28125rem;
    --border: 0.5px;
    --depth: 1;
    --noise: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}
